<body class="home-page">
    <%- include('Partials/header') %>
    <main class="home-container">
        <h1 class="brand-title">JJD IT Asset Management</h1>
        <div class="services-container">
            <a href="/assets/add" class="service-button">Add to Inventory</a>
            <a href="/assets/lookup" class="service-button">Check Inventory</a>
        </div>
    </main>
    <%- include('Partials/footer') %>
</body>
