<%- include('Partials/header') %>
<main class="support-container">
    <h2>Support Page</h2>
    <p>For support, please contact us at support@jjdassetmanager.com or call us at (123) 456-7890.</p>
</main>
<%- include('Partials/footer') %>
